.consultation {
    min-height: 680px;
    padding: 100px 0 92px 0;
    background: url(../img/bg_legs.png) center (center/cover) no-repeat;
    &__descr {
        margin-top: 80px;
        font-size: 20px;
        line-height: 1.2;
        font-weight: 500;
        color: #ffffff;
    }
    .error {
        border: 1px solid red;
    }
    label.error {
        color: #ffffff;
        border: none;
        text-align: center;
        margin-bottom: 10px;
    }
}