.feed {
    padding: 50px 0 71px 0;
    &__item {
        display: flex;
        margin-top: 100px;
        &:nth-child(2) {
            margin-top: 70px;
        }
    }
    &__img {
        width: 169px;
        height: 160px;
        margin-right: 62px;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        color: #0d0d0d;
    }
    &__count {
        margin-top: 10px;
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: #646464;
    }
    &__descr {
        margin-top: 19px;
        font-size: 16px;
        line-height: 1.2;
        font-weight: 300;
        color: #0d0d0d;
    }
    
}