.title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: #0d0d0d;
    text-transform: uppercase;
    text-align: center;
    &_left {
        color: #ffffff; 
        font-size: 37px;
        text-align: left;
    }
}
